{% extends '_base.html' %}{% block title%} About Me {%endblock%} {%block
content%}

<!--About me-->

<section>
  <h2
    id="about_me_title"
    class="section-titles text-light text-center mx-2 mb-5"
  >
    About Me
  </h2>
  <div class="container">
    <div class="border mb-5">
      <p class="text-light">
        Hi, I'm a highly motivated software engineer with a background in
        mechanical engineering. I have a passion for using technology to solve
        complex problems and have been driven to transition into the software
        development industry to further pursue this passion. My experience in
        mechanical engineering has given me a unique perspective and set of
        skills that I bring to the table as a software engineer. I am
        well-versed in programming languages such as Python, JavaScript, CSS,
        HTML, and have experience with popular software development frameworks
        such as Flask and Django. I am always eager to learn and am able to
        quickly adapt to new technologies and programming concepts. I believe
        that my background in mechanical engineering, combined with my passion
        for software development, makes me a valuable asset to any team.
      </p>
      <p class="text-light">
        Additionally, my experience working with various mechanical systems and
        prototypes has honed my problem-solving and critical thinking skills. I
        have a strong understanding of the design and development process, from
        conceptualization to prototyping and testing, and I bring this
        process-oriented mindset to my work as a software engineer. I am
        comfortable working independently or in a team setting, and I am always
        willing to go above and beyond to ensure that projects are completed on
        time and to the highest standard.
      </p>
      <p class="text-light">
        I am passionate about using technology to create positive change.
        Whether it's through developing more efficient systems, improving user
        experiences, or solving complex problems, I am eager to apply my skills
        and knowledge to make a meaningful impact. I am confident that my unique
        combination of mechanical engineering and software development expertise
        will enable me to bring a fresh perspective and new ideas to any project
        I work on.
      </p>
    </div>
    <div>
      <button class="btn btn-primary btn-lg text-light">Contact Me</button>
    </div>
  </div>
</section>
{% endblock %}
