{% extends '_base.html' %}{% block title%}Home {%endblock%} {%block content%}

<!--Showcase, introduction and elevator pitch-->
<section
  class="section-hero d-flex align-content-center text-light text-center text-sm-start"
>
  <div class="showcase container">
    <div class="d-md-flex justify-content-between">
      <img
        style="max-height: 400px"
        class="img-fluid"
        src="/static/images/profile_pic.png"
        alt=""
      />
      <div
        style="max-width: 600px"
        class="d-flex flex-column justify-content-center"
      >
        <h1 class="text-start text-light">
          <span class="text-warning">Hi,</span> I'm Ivan.
        </h1>
        <p class="hero-text text-start text-light">
          I'm a mechanical engineer turned full-stack software developer. I am
          dedicated to producing clean and efficient code and always strive to
          stay up-to-date with the latest industry trends. My ability to work
          well under pressure, strong communication skills, and eagerness to
          learn make me a valuable asset to any team.
        </p>
        <div>
          <a href="#contact" class="btn btn-primary btn-lg text-light"
            >Contact Me</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!--Recent Project link cards.-->
<section id="projects" class="">
  <div class="spacer-small"></div>
  <div class="container projects">
    <h2 class="section-titles text-light text-start mb-2">Projects</h2>
    <div
      style="height: 1px"
      class="mw-50 bg-light align-self-center mb-2"
    ></div>
    <div class="row">
      <div class="col-md my-2 d-flex align-items-stretch">
        <div
          class="project-description d-flex flex-column justify-content-between"
        >
          <h2 class="text-light">Project #1</h2>
          <p class="text-light mt-5 h-100">
            Description: Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nam, at. Nam illum vero possimus, magni aspernatur harum quas
            nesciunt, ullam soluta quia iure enim rerum tenetur libero? Quasi,
            debitis officiis.
          </p>
          <div class="project-links align-self-end">
            <a class="text-light" href="">GitHub</a
            ><a class="text-light ms-5" href="">Live Site</a>
          </div>
        </div>
      </div>
      <div class="col-md my-2 d-flex align-items-stretch">
        <div class="card">
          <img
            src="/static/images/generic-logo.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/projects#2" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div
      style="height: 1px"
      class="mw-50 bg-light align-self-center my-2"
    ></div>
    <div class="row">
      <div class="col-md my-2 d-flex align-items-stretch">
        <div
          class="project-description d-flex flex-column justify-content-between"
        >
          <h2 class="text-light">Project #2</h2>
          <p class="text-light mt-5 h-100">
            Description: Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nam, at. Nam illum vero possimus, magni aspernatur harum quas
            nesciunt, ullam soluta quia iure enim rerum tenetur libero? Quasi,
            debitis officiis.
          </p>
          <div class="project-links align-self-end">
            <a class="text-light" href="">GitHub</a
            ><a class="text-light ms-5" href="">Live Site</a>
          </div>
        </div>
      </div>
      <div class="col-md my-2 d-flex align-items-stretch">
        <div class="card">
          <img
            src="/static/images/generic-logo.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/projects#3" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div
      style="height: 1px"
      class="mw-50 bg-light align-self-center mt-2"
    ></div>
  </div>
</section>
<div class="spacer"></div>

<!--Programming Expeience Icons-->
<section id="experience" class="">
  <div class="container">
    <h2 class="section-titles text-light text-start mb-2">Experience</h2>
    <div
      style="height: 1px"
      class="mw-50 bg-light align-self-center mb-2"
    ></div>
    <div class="container d-flex flex-wrap justify-content-between">
      <img class="icon m-2" src="/static/images/icon-css.png" alt="" />
      <img class="icon m-2" src="/static/images/icon-javascript.png" alt="" />
      <img class="icon m-2" src="/static/images/icon-html.png" alt="" />
      <img class="icon m-2" src="/static/images/icon-python.webp" alt="" />
    </div>
    <div
      style="height: 1px"
      class="mw-50 bg-light align-self-center mt-2"
    ></div>
  </div>
</section>
<div class="spacer"></div>
<!--Contact Form-->
<section id="contact" class="mt-5 pb-5">
  <div class="container">
    <h2 class="section-titles text-light text-start mb-2">Contact</h2>
    <form class="row g-3" method="post" action="{{ url_for('contact') }}">
      <div class="col-md-6">
        <label for="name" class="form-label text-light">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label text-light">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="col-12">
        <label for="subject" class="form-label text-light">Subject</label>
        <input
          type="text"
          class="form-control"
          id="subject"
          name="subject"
          required
        />
      </div>
      <div class="col-12">
        <label for="message" class="form-label text-light">Message</label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          required
        ></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}
