{% extends '_base.html' %}{% block title%}Home {%endblock%}
{%block content%}
    <section class="showcase text-light text-center text-sm-start p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between">
                <img style="max-height: 400px;" class="img-fluid" src="/static/images/profile_pic.png" alt="">
                <div style="max-width: 600px;" class="d-flex flex-column justify-content-center m-5"><h1 class="text-start">Software Developer</h1>
                    <p class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati autem velit a odit voluptatum totam iure rem dolorum aliquam eaque architecto fuga libero, officiis vitae harum possimus exercitationem esse provident. I am a junior sofware developer who recently graduated from a full stack web development bootcamp.</p>
                    <div>
                        <button class="btn btn-primary btn-lg">Contact Me</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <div class="container projects">
        <h2 class="text-center text-light mb-2" >Projects</h2>
        <div style="height: 2px;" class="mw-50 bg-light align-self-center"></div>
        <div class="row">
            <div class="col-md my-2">
                <div class="card">
                    <div class="bg-image hover-zoom">
                        <img src="/static/images/generic-logo.webp" class="card-img-top w-100" alt="...">
                    </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/projects#2" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md my-2">
                <div class="card">
                    <img src="/static/images/generic-logo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/projects#2" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md my-2">
                <div class="card">
                    <img src="/static/images/generic-logo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/projects#3" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md my-2">
                <div class="card">
                    <img src="/static/images/generic-logo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/projects#4" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md my-2">
                <div class="card">
                    <img src="/static/images/generic-logo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/projects#5" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-md my-2">
                <div class="card">
                    <img src="/static/images/generic-logo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/projects#6" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 2px;" class="mw-50 bg-light align-self-center"></div>
        </div>
    </section>
{% endblock %}
</body>
</html>