{% extends '_base.html' %}{% block title%}Home {%endblock%} {%block content%}
<!--Showcase, introduction and elevator pitch-->
<section
  class="d-flex align-content-center text-light text-center text-sm-start"
>
  <div class="showcase container">
    <div class="d-md-flex justify-content-between">
      <img
        style="max-height: 400px"
        class="img-fluid"
        src="/static/images/profile_pic.png"
        alt=""
      />
      <div
        style="max-width: 600px"
        class="d-flex flex-column justify-content-center"
      >
        <h1 class="text-start text-light">
          <span class="text-warning">Hi,</span> I'm Ivan.
        </h1>
        <p class="text-start text-light">
          I'm a mechanical engineer turned full-stack software engineer. I am
          dedicated to producing clean and efficient code and always strive to
          stay up-to-date with the latest industry trends. My ability to work
          well under pressure, strong communication skills, and eagerness to
          learn and grow make me a valuable asset to any team.
        </p>
        <div>
          <button class="btn btn-primary btn-lg text-light">Contact Me</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Recent Project link cards.-->
<section class="mt-5">
  <div class="container projects">
    <h2 class="section-titles text-light text-start mb-2">Projects</h2>
    <div
      style="height: 1px"
      class="mw-50 bg-light align-self-center mb-2"
    ></div>
    <div class="row">
      <div class="col-md my-2 d-flex align-items-stretch">
        <div class="card">
          <div class="bg-image hover-zoom">
            <img
              src="/static/images/generic-logo.webp"
              class="card-img-top w-100"
              alt="..."
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              A notes app where users can create, read, update, and delete
              tasks.
            </p>
            <a href="/projects#1" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-md my-2 d-flex align-items-stretch">
        <div class="card">
          <img
            src="/static/images/generic-logo.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/projects#2" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <div class="col-md my-2 d-flex align-items-stretch">
        <div class="card">
          <img
            src="/static/images/generic-logo.webp"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/projects#3" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div
      style="height: 1px"
      class="mw-50 bg-light align-self-center mt-2"
    ></div>
  </div>
</section>

{% endblock %}
