{% extends '_base.html' %}{% block title%} Resume {%endblock%} {%block content%}
<section>
  <div class="container">
    <h2 class="section-titles text-light text-center mx-2 mb-5">Resume</h2>
  </div>
  <div id="resume" class="container bg-light d-flex flex-column">
    <h3 class="text-center">Ivan Cobb</h3>
    <a href="" class="resume_email text-center">IvanFCobb@gmail.com </a>
    <!--Education-->
    <h4 class="text-center">Education</h4>
    <div style="height: 1px; background-color: black"></div>
    <div class="resume_header d-flex justify-content-between">
      <h4 class="mt-2">Coding Dojo</h4>
      <h4 class="mt-2">2022 to 2023</h4>
    </div>
    <ul>
      <li class="w-75">TBD</li>
      <li class="w-75">TBD</li>
      <li class="w-75">TBD</li>
      <li class="w-75">TBD</li>
    </ul>
    <div class="resume_header d-flex justify-content-between">
      <h4 class="mt-2">Maine Maritime Academy</h4>
      <h4 class="mt-2">2010 to 2014</h4>
    </div>
    <ul>
      <li class="w-75">Graduated Magna Cum Laude</li>
      <li class="w-75">
        Received a Bachelor of Science in Power Engineering Technology
      </li>
      <li class="w-75">
        Presidential Scholarship for a combined SAT score of reading and math
        that is over 1100 and requires a GPA of 3.0 or higher
      </li>
      <li class="w-75">Cumulative GPA: 3.50</li>
    </ul>
    <!--Work Experience-->
    <h4 class="text-center">Work Experience</h4>
    <div style="height: 1px; background-color: black"></div>
    <!--Work Experience - Brunner Island-->
    <div class="resume_header d-flex justify-content-between">
      <h4 class="mt-2">Talen Energy, Brunner Island</h4>
      <h4>2021 - Current</h4>
    </div>
    <h5 style="font-weight: 400">Engineering Manager</h5>
    <ul>
      <li class="w-75">Manage a team of 4 engineers and 2 controls analysts</li>
      <li>
        Responsible for all final engineering decisions on all systems in the
        plant
      </li>
      <li class="w-75">
        Responsible for the plants capital and outage budgets
      </li>
      <li class="w-75">
        Review the economics and engineering of all capital projects
      </li>
      <li class="w-75">
        Complete weekly safety audits on work performed by plant personnel and
        contractors
      </li>
      <li class="w-75">Built and manage the plants 5 year and 20 year plans</li>
    </ul>
    <!--Work Experience - Brandon Shores-->
    <div class="resume_header d-flex justify-content-between">
      <h4 class="mt-2">Talen Energy, Brandon Shores</h4>
      <h4 class="mt-2">2017 - 2021</h4>
    </div>
    <h5 style="font-weight: 400">System/Boiler Engineer</h5>
    <ul>
      <li class="w-75">
        Responsible for all boiler related systems at the power plant
      </li>
      <li>
        Ran multiple large component replacement projects including: Secondary
        Superheater Replacement, Lower Sidewall Header replacement, Air Heater
        radial and circumferential lateral plate replacements.
      </li>
      <li class="w-75">Responsible for tuning two 700MW coal fired boilers</li>
      <li class="w-75">
        Complete weekly safety audits on work performed by plant personnel and
        contractors
      </li>
      <li class="w-75">
        Answered and reviewed all technical work orders for feedwater, boiler,
        and air heater systems
      </li>
    </ul>
    <!--Work Experience - Babcock and Wilcox-->
    <div class="resume_header d-flex justify-content-between">
      <h4 class="mt-2">Babcock and Wilcox</h4>
      <h4 class="mt-2">2014-2017</h4>
    </div>
    <h5 style="font-weight: 400">Field Service Engineer III</h5>
    <ul>
      <li class="w-75">
        Worked as the Resident Service Engineer for a large utility coal plant
      </li>
      <li>
        Performed combustion tuning on utility boilers and package boilers
      </li>
      <li class="w-75">
        Inspected utility boilers and drafted reports based on findings
      </li>
      <li class="w-75">
        Worked as a construction TA during a coal to gas conversion of a utility
        boiler
      </li>
      <li class="w-75">Experience analyzing blueprints and drawings</li>
    </ul>
  </div>
</section>
{% endblock %}
