*:hover {
    cursor: default;
    caret-color: transparent;
}

/***** Fun Box Style *****/

.box {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: move;
    border: 3px solid #E4A11B;
    border-radius: 3px;
    z-index: 5;
    visibility: hidden;
  }

.box-h5 {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    caret-color: transparent;
    visibility: hidden;
}

/***** End Section *****/


section {
    padding-top: 100px;
    padding-bottom: 200px;
}


.section-titles {
    font-size: 3rem;
    font-weight: bolder;
}

.content_bg {
    background-color: rgba(33, 34, 34, 0.9);
    min-height: 100vh;
    height: 100%;
}


/***** Body Style *****/

body {
    background-image: url('/static/images/solid_background_colors_shapes.png');
    background-size: cover;
    min-height: 100vh;

}


/***** End Section *****/


/***** Navbar Style *****/
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: .9s;
    z-index: 2;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    background-color: rgb(15, 149, 245);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.navbar-brand:hover {
    opacity: .8;
}

/***** End Section *****/

/***** Card Style *****/

.projects {
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.card {
    transition: .3s;
}

.card:hover {
    transform: scale(1.025);
}

/***** End Section *****/


/***** Body Style *****/

#resume {
    max-width: 850px;
    border: 5px solid white;
    border-radius: 5px;
}

.resume_email {
    text-decoration: none;
    color: rgb(16, 43, 125);
    margin-bottom: 20px;
}

.resume_header {
    width: 100%;
}

/***** End Section *****/